<a href="https://colab.research.google.com/github/dp1500/Football-Algo-Betting/blob/main/betting_simulation_version_september.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel("/content/Bettings_match_tracking.xlsx", dtype={'formation': str, 'away formation': str})

In [ ]:
df_2021_tak_ke_matches_ka_data = pd.read_csv("/content/sim_data_for_model_training.csv")

In [ ]:
df_2021_tak_ke_matches_ka_data['home_team'].unique()

array(['Manchester United', 'Leicester City', 'Queens Park Rangers',
       'Stoke City', 'West Bromwich Albion', 'West Ham United', 'Arsenal',
       'Liverpool', 'Newcastle United', 'Burnley', 'Aston Villa',
       'Chelsea', 'Crystal Palace', 'Southampton', 'Swansea City',
       'Everton', 'Hull City', 'Tottenham Hotspur', 'Sunderland',
       'Manchester City', 'Norwich City', 'Watford', 'Middlesbrough',
       'Brighton & Hove Albion', 'Huddersfield Town', 'Fulham',
       'Wolverhampton Wanderers', 'Cardiff City', 'Sheffield United',
       'Leeds United', 'Brentford'], dtype=object)

In [ ]:
df_stats = pd.read_csv("/content/team_net_stats_3.csv")

In [ ]:
df_main_for_ordinal = df_2021_tak_ke_matches_ka_data.copy()

In [ ]:
df.head()

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left
0,2.0,West Ham United,Chelsea,4-2-3-1,80,317.00,400.00,78.00,756.493421,727.381579,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,4-2-3-1,82,277.00,277.00,277.00,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Chelsea,Luton Town,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,3-5-2,75,248.66,248.66,248.66,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,252.60,252.60,252.60,735.000000,732.000000,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,Arsenal,Fulham,4-3-3,82,274.00,274.00,274.00,763.562914,703.920530,4-3-3,80,235.00,235.00,235.00,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## filling net stamina and physcality in betting tracker data based on avg of past years net stamina and physcality fr these teams

In [ ]:
# for i in range(len(df)):
#   home_team = df['home_team']
#   away_team = df['away_team']
#   # Calculate average values for home teams in df_2021_tak_ke_matches_ka_data
#   home_team_avg = df_2021_tak_ke_matches_ka_data.groupby(home_team)[["net stamina", "net physicallity"]].mean()

#   # Calculate average values for away teams in df_2021_tak_ke_matches_ka_data
#   away_team_avg = df_2021_tak_ke_matches_ka_data.groupby(away_team)[["away net stamina", "away net physicallity"]].mean()

#   # Fill missing values in df using averages from df_2021_tak_ke_matches_ka_data
#   df["net stamina"].fillna(df["home_team"].map(home_team_avg["net stamina"]), inplace=True)
#   df["net physicallity"].fillna(df["home_team"].map(home_team_avg["net physicallity"]), inplace=True)
#   df["away net stamina"].fillna(df["away_team"].map(away_team_avg["away net stamina"]), inplace=True)
#   df["away net physicallity"].fillna(df["away_team"].map(away_team_avg["away net physicallity"]), inplace=True)

In [ ]:
# # Calculate average values for net stamina and net physicality for each team
# team_stats = df_2021_tak_ke_matches_ka_data.groupby("home_team")[["net stamina", "net physicallity"]].mean()
# team_stats.rename(columns={"net stamina": "avg_net_stamina", "net physicallity": "avg_net_physicality"}, inplace=True)

# # Save the calculated statistics to a CSV file
# team_stats.to_csv("team_net_stats_3.csv")

In [ ]:
# from google.colab import files
# files.download("team_net_stats_3.csv")

In [ ]:
pd.set_option("display.max_columns", None)
df.head()

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left
0,2.0,West Ham United,Chelsea,4-2-3-1,80,317.00,400.00,78.00,756.493421,727.381579,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,4-2-3-1,82,277.00,277.00,277.00,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Chelsea,Luton Town,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,3-5-2,75,248.66,248.66,248.66,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,252.60,252.60,252.60,735.000000,732.000000,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,Arsenal,Fulham,4-3-3,82,274.00,274.00,274.00,763.562914,703.920530,4-3-3,80,235.00,235.00,235.00,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
chelsea_row = df_stats[df_stats['team_name'] == 'Chelsea']
print(chelsea_row)

  team_name  avg_net_stamina  avg_net_physicality
6   Chelsea       785.006623           719.980132

In [ ]:
for i in range(len(df)):
    home_team_name = str(df.loc[i, 'home_team'])
    away_team_name = df.loc[i, 'away_team']
    print(home_team_name, away_team_name)

    home_stats = df_stats[df_stats['team_name'] == home_team_name]
    away_stats = df_stats[df_stats['team_name'] == away_team_name]

    print(home_stats)
    print(away_stats)


    df.loc[i, 'net stamina'] = home_stats.loc[home_stats.index[0],'avg_net_stamina']
    df.loc[i, 'net physicallity'] = home_stats.loc[home_stats.index[0], 'avg_net_physicality']

    df.loc[i, 'away net stamina'] = away_stats.loc[away_stats.index[0], 'avg_net_stamina']
    print(i)
    df.loc[i, 'away net physicallity'] = away_stats.loc[away_stats.index[0], 'avg_net_physicality']

df.head()

West Ham United Chelsea
          team_name  avg_net_stamina  avg_net_physicality
29  West Ham United       756.493421           727.381579
  team_name  avg_net_stamina  avg_net_physicality
6   Chelsea       785.006623           719.980132
0
Tottenham Hotspur Manchester United
            team_name  avg_net_stamina  avg_net_physicality
26  Tottenham Hotspur       796.065359            739.30719
            team_name  avg_net_stamina  avg_net_physicality
16  Manchester United       790.915033            736.72549
1
Chelsea Luton Town
  team_name  avg_net_stamina  avg_net_physicality
6   Chelsea       785.006623           719.980132
     team_name  avg_net_stamina  avg_net_physicality
33  Luton Town            725.0                725.0
2
Bournemouth Tottenham Hotspur
      team_name  avg_net_stamina  avg_net_physicality
32  Bournemouth            735.0                732.0
            team_name  avg_net_stamina  avg_net_physicality
26  Tottenham Hotspur       796.065359            739.30719
3
Arsenal Fulham
  team_name  avg_net_stamina  avg_net_physicality
0   Arsenal       763.562914            703.92053
  team_name  avg_net_stamina  avg_net_physicality
9    Fulham       728.552632           725.421053
4
Manchester United Nottm Forest
            team_name  avg_net_stamina  avg_net_physicality
16  Manchester United       790.915033            736.72549
       team_name  avg_net_stamina  avg_net_physicality
31  Nottm Forest            740.0                745.0
5
Brighton & Hove Albion  West Ham United
                 team_name  avg_net_stamina  avg_net_physicality
3  Brighton & Hove Albion        730.574468           709.095745
          team_name  avg_net_stamina  avg_net_physicality
29  West Ham United       756.493421           727.381579
6
Sheffield United Manchester City
           team_name  avg_net_stamina  avg_net_physicality
21  Sheffield United       741.026316           710.157895
          team_name  avg_net_stamina  avg_net_physicality
15  Manchester City            783.7           705.613333
7
Newcastle United Liverpool
           team_name  avg_net_stamina  avg_net_physicality
18  Newcastle United       744.345865           705.586466
    team_name  avg_net_stamina  avg_net_physicality
14  Liverpool       808.284768           725.139073
8

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left
0,2.0,West Ham United,Chelsea,4-2-3-1,80,317.00,400.00,78.00,756.493421,727.381579,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,4-2-3-1,82,277.00,277.00,277.00,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Chelsea,Luton Town,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,3-5-2,75,248.66,248.66,248.66,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,252.60,252.60,252.60,735.000000,732.000000,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,Arsenal,Fulham,4-3-3,82,274.00,274.00,274.00,763.562914,703.920530,4-3-3,80,235.00,235.00,235.00,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## encoding

In [ ]:
df_ordinal_encoded = df.copy()

In [ ]:
# import pandas as pd

# Step 1: Calculate total goals scored by each team
team_goals = df_main_for_ordinal.groupby('home_team')['home_goals'].sum().reset_index()
away_team_goals = df_main_for_ordinal.groupby('away_team')['away_goals'].sum().reset_index()
team_goals['away_goals'] = away_team_goals['away_goals']

# Step 2: Sort the team_goals DataFrame by total goals
team_goals = team_goals.sort_values(by=['home_goals', 'away_goals'], ascending=False)

# Step 3: Create a dictionary to map team to ranking
team_ranking = {team: rank for rank, team in enumerate(team_goals['home_team'])}
team_ranking['Brighton & Hove Albion '] = team_ranking.pop('Brighton & Hove Albion')
team_ranking['Sheffield United'] = team_ranking.pop('Sheffield United ')


# Step 4: Define custom ordinal encoding function
def custom_ordinal_encoding(x):
    return team_ranking.get(x, 31)

# Step 5: Apply custom ordinal encoding to home_team and away_team columns
df_main_for_ordinal['home_team_encoded'] = df_main_for_ordinal['home_team'].map(custom_ordinal_encoding)
df_main_for_ordinal['away_team_encoded'] = df_main_for_ordinal['away_team'].map(custom_ordinal_encoding)

df_ordinal_encoded['home_team_encoded'] = df_ordinal_encoded['home_team'].map(custom_ordinal_encoding)
df_ordinal_encoded['away_team_encoded'] = df_ordinal_encoded['away_team'].map(custom_ordinal_encoding)

KeyError: ignored

In [ ]:
team_ranking

{'Manchester City': 0,
 'Liverpool': 1,
 'Arsenal': 2,
 'Tottenham Hotspur': 3,
 'Chelsea': 4,
 'Manchester United': 5,
 'Leicester City': 6,
 'Everton': 7,
 'West Ham United': 8,
 'Southampton': 9,
 'Newcastle United': 10,
 'Crystal Palace': 11,
 'Watford': 12,
 'Burnley': 13,
 'Aston Villa': 14,
 'West Bromwich Albion': 15,
 'Stoke City': 17,
 'Wolverhampton Wanderers': 18,
 'Swansea City': 19,
 'Norwich City': 20,
 'Sunderland': 21,
 'Hull City': 22,
 'Leeds United': 23,
 'Sheffield United': 24,
 'Fulham': 25,
 'Huddersfield Town': 26,
 'Brentford': 27,
 'Queens Park Rangers': 28,
 'Cardiff City': 29,
 'Middlesbrough': 30,
 'Brighton & Hove Albion ': 16}

In [ ]:
df_ordinal_encoded.head()

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,4-2-3-1,80,317.00,400.00,78.00,756.493421,727.381579,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,4-2-3-1,82,277.00,277.00,277.00,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,3-5-2,75,248.66,248.66,248.66,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,252.60,252.60,252.60,735.000000,732.000000,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,4-3-3,82,274.00,274.00,274.00,763.562914,703.920530,4-3-3,80,235.00,235.00,235.00,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25

In [ ]:
df_main_for_ordinal.head(-5)

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,season,home_team_encoded,away_team_encoded
0,Manchester United,Swansea City,3-4-1-2,83,244,410,111,730,647,4-2-3-1,75,465,164,165,791,747,1,2,2014,5,19
1,Leicester City,Everton,4-4-2,74,277,277,143,715,704,4-2-3-1,82,294,295,89,696,694,2,2,2014,6,7
2,Queens Park Rangers,Hull City,3-5-2,75,253,390,98,675,767,3-4-2-1,74,251,478,25,698,737,0,1,2014,28,22
3,Stoke City,Aston Villa,4-2-3-1,82,294,300,155,751,719,4-2-3-1,78,257,347,126,717,762,0,1,2014,17,14
4,West Bromwich Albion,Sunderland,4-4-1-1,78,285,297,139,724,720,4-1-4-1,74,226,375,148,756,727,2,2,2014,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2928,Wolverhampton Wanderers,Manchester City,3-5-2,79,337,265,187,758,692,4-2-3-1,89,296,157,299,729,711,1,5,2021,18,0
2929,Tottenham Hotspur,Arsenal,3-4-2-1,87,445,226,144,795,766,4-3-3,74,286,380,133,778,758,3,0,2021,3,2
2930,Tottenham Hotspur,Burnley,3-4-2-1,87,418,280,117,789,742,5-3-2,83,339,341,116,741,700,1,0,2021,3,13
2931,Aston Villa,Crystal Palace,4-3-1-2,84,285,281,210,791,731,5-3-2,73,279,357,128,759,718,1,1,2021,14,11
2932,Leeds United,Brighton & Hove Albion,4-2-3-1,77,307,395,66,775,729,3-4-2-1,76,283,360,128,781,730,1,1,2021,23,31

In [ ]:
# df_main = df_2021_tak_ke_matches_ka_data.copy()

In [ ]:
len(df_2021_tak_ke_matches_ka_data)

2938

## using season 14 to 20 for training and 21 for simulation

In [ ]:
# training_data = df_main_for_ordinal.loc[df['season'] < 2021]
# test_data = df_main_for_ordinal.loc[df['season'] == 2021]

# test_data.head()

In [ ]:
len(df_main_for_ordinal['formation'].unique())

20

### checking what formations have resullted in what amount of home goals

In [ ]:
df_grouped = df_main_for_ordinal.groupby(by="formation")["home_goals"].sum()
df_grouped.sort_values()

formation
4-1-3-2         2
3-3-3-1         6
4-3-2-1         8
3-5-1-1        19
3-1-4-2        23
5-3-2          33
4-5-1          35
4-2-2-2        36
4-3-1-2        44
5-4-1          49
4-1-2-1-2      76
3-4-1-2        96
3-5-2         145
3-4-3         171
4-4-1-1       207
4-1-4-1       247
3-4-2-1       287
4-4-2         494
4-3-3         936
4-2-3-1      1514
Name: home_goals, dtype: int64

In [ ]:
df_main_for_ordinal['formation'] = df_main_for_ordinal['formation'].str.replace('-d', '')
df_ordinal_encoded['formation'] = df_ordinal_encoded['formation'].str.replace('-d', '')
# test_data['formation'] = test_data['formation'].str.replace('-d', '')

In [ ]:
df_main_for_ordinal['away formation'] = df_main_for_ordinal['away formation'].str.replace('-d', '')
df_ordinal_encoded['away formation'] = df_ordinal_encoded['away formation'].str.replace('-d', '')

In [ ]:
for i in range(len(df_ordinal_encoded)):
  if df_ordinal_encoded['formation'][i] == '4/3/2003':
    df_ordinal_encoded['formation'][i] = '4-3-3'

  elif df_ordinal_encoded['formation'][i] == '04/03/2003':
    df_ordinal_encoded['formation'][i] = '4-3-3'

  elif df_ordinal_encoded['formation'][i] == '4/4/2002':
    df_ordinal_encoded['formation'][i] = '4-4-2'

  elif df_ordinal_encoded['formation'][i] == '3/5/2002':
    df_ordinal_encoded['formation'][i] = '3-5-2'

  elif df_ordinal_encoded['formation'][i] == '03/05/2002':
    df_ordinal_encoded['formation'][i] = '3-5-2'

  elif df_ordinal_encoded['formation'][i] == '3/4/2003':
    df_ordinal_encoded['formation'][i] = '3-4-3'

  elif df_ordinal_encoded['formation'][i] == '4/5/2001':
    df_ordinal_encoded['formation'][i] = '4-5-1'

  elif df_ordinal_encoded['formation'][i] == '5/3/2002':
    df_ordinal_encoded['formation'][i] = '5-3-2'

  elif df_ordinal_encoded['formation'][i] == '4-3-3':
    df_ordinal_encoded['formation'][i] = '4-3-3'

  elif df_ordinal_encoded['formation'][i] == '4-4-2':
    df_ordinal_encoded['formation'][i] = '4-4-2'

  elif df_ordinal_encoded['formation'][i] == '5/4/2001':
    df_ordinal_encoded['formation'][i] = '5-4-1'

  elif df_ordinal_encoded['formation'][i] == '4-2-3-1':
    df_ordinal_encoded['formation'][i] = '4-2-3-1'

  elif df_ordinal_encoded['formation'][i] == ' 4/3/2003':
    df_ordinal_encoded['formation'][i] = '4-3-3'

  elif df_ordinal_encoded['formation'][i] == '4-4-2':
    df_ordinal_encoded['formation'][i] = '4-4-2'

  elif df_ordinal_encoded['formation'][i] == '4-2-3-1':
    df_ordinal_encoded['formation'][i] = '4-2-3-1'

  elif df_ordinal_encoded['formation'][i] == '4-3-3':
    df_ordinal_encoded['formation'][i] = '4-3-3'

  elif df_ordinal_encoded['formation'][i] == '3-4-3':
    df_ordinal_encoded['formation'][i] = '3-4-3'

  # ////////

  if df_ordinal_encoded['away formation'][i] == '4/3/2003':
    df_ordinal_encoded['away formation'][i] = '4-3-3'

  elif df_ordinal_encoded['away formation'][i] == '04/03/2003':
    df_ordinal_encoded['away formation'][i] = '4-3-3'

  elif df_ordinal_encoded['away formation'][i] == '4/4/2002':
    df_ordinal_encoded['away formation'][i] = '4-4-2'

  elif df_ordinal_encoded['away formation'][i] == '3/5/2002':
    df_ordinal_encoded['away formation'][i] = '3-5-2'

  elif df_ordinal_encoded['away formation'][i] == '03/05/2002':
    df_ordinal_encoded['away formation'][i] = '3-5-2'

  elif df_ordinal_encoded['away formation'][i] == '3/4/2003':
    df_ordinal_encoded['away formation'][i] = '3-4-3'

  elif df_ordinal_encoded['away formation'][i] == '4/5/2001':
    df_ordinal_encoded['away formation'][i] = '4-5-1'

  elif df_ordinal_encoded['away formation'][i] == '5/3/2002':
    df_ordinal_encoded['away formation'][i] = '5-3-2'

  elif df_ordinal_encoded['away formation'][i] == '4-3-3':
    df_ordinal_encoded['away formation'][i] = '4-3-3'

  elif df_ordinal_encoded['away formation'][i] == '4-4-2':
    df_ordinal_encoded['away formation'][i] = '4-4-2'

  elif df_ordinal_encoded['away formation'][i] == '5/4/2001':
    df_ordinal_encoded['away formation'][i] = '5-4-1'

  elif df_ordinal_encoded['away formation'][i] == '4-2-3-1':
    df_ordinal_encoded['away formation'][i] = '4-2-3-1'

  elif df_ordinal_encoded['away formation'][i] == ' 4/3/2003':
    df_ordinal_encoded['away formation'][i] = '4-3-3'

  elif df_ordinal_encoded['away formation'][i] == '4-4-2':
    df_ordinal_encoded['away formation'][i] = '4-4-2'

  elif df_ordinal_encoded['away formation'][i] == '4-2-3-1':
    df_ordinal_encoded['away formation'][i] = '4-2-3-1'

  elif df_ordinal_encoded['away formation'][i] == '4-3-3':
    df_ordinal_encoded['away formation'][i] = '4-3-3'

  elif df_ordinal_encoded['away formation'][i] == '3-4-3':
    df_ordinal_encoded['away formation'][i] = '3-4-3'

In [ ]:
df_ordinal_encoded['away formation'].unique()

array(['3-4-2-1', '4-2-3-1', '3-5-2', '4-3-3', '4-1-4-1'], dtype=object)

In [ ]:
df1 = df_main_for_ordinal.copy() # training data
df_sim_from_bettingTracking = df_ordinal_encoded.copy()

In [ ]:
print(type(df_sim_from_bettingTracking['away formation'][0]))

<class 'str'>

In [ ]:
if df1['away formation'].dtype == 'str':
    print("All entries in 'away formation' column are strings.")
else:
    print("Not all entries in 'away formation' column are strings.")

Not all entries in 'away formation' column are strings.

In [ ]:
if df_sim_from_bettingTracking['away formation'].dtype == 'str':
    print("All entries in 'away formation' column are strings.")
else:
    print("Not all entries in 'away formation' column are strings.")

Not all entries in 'away formation' column are strings.

In [ ]:
for i in range(len(df1)):
    if type(df1.loc[i, 'away formation']) != str:
        print(i)

for i in range(len(df_sim_from_bettingTracking)):
    if type(df_sim_from_bettingTracking.loc[i, 'away formation']) != str:
        print(i)

165

In [ ]:
df1 = df1.drop(df1.index[165])

In [ ]:
df1 = df1.reset_index(drop=True)  # Reset the index labels

for i in range(len(df1)):
    if type(df1.loc[i, 'away formation']) != str:
        print(i)

In [ ]:
def distribute_ratings(formation, total_rating):
    # Split the formation string into a list of numbers
    positions = formation.split('-')

    # Create a list to store the number of players in each position
    num_players = [int(p) for p in positions]

    # Calculate the total number of players
    total_players = sum(num_players)

    # Calculate the percentage of the total rating for each position
    ratings = [total_rating * (num / total_players) for num in num_players]

    return ratings

position_ratings = distribute_ratings('3-5-2', 760)

In [ ]:
type(position_ratings)

position_ratings

[228.0, 380.0, 152.0]

## applying personal transformation where the tota player ratings are distributed into defence, mid, att by number of players in formation to both training and test(sim) data

### for training data

In [ ]:
df_sim_from_bettingTracking

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,4-2-3-1,80,317.00,400.00,78.00,756.493421,727.381579,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,4-2-3-1,82,277.00,277.00,277.00,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,3-4-2-1,79,261.00,261.00,261.00,785.006623,719.980132,3-5-2,75,248.66,248.66,248.66,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,252.60,252.60,252.60,735.000000,732.000000,4-2-3-1,80,267.66,267.66,267.66,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,4-3-3,82,274.00,274.00,274.00,763.562914,703.920530,4-3-3,80,235.00,235.00,235.00,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25
5,3.0,Manchester United,Nottm Forest,4-2-3-1,79,277.00,277.00,277.00,790.915033,736.725490,3-4-2-1,77,235.00,235.00,235.00,740.000000,745.000000,NaN,NaN,NaN,1.38,5.12,8.830,1.0,0.44,3.60,6.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,31
6,3.0,Brighton & Hove Albion,West Ham United,4-2-3-1,79,277.00,277.00,277.00,730.574468,709.095745,4-1-4-1,77,235.00,235.00,235.00,756.493421,727.381579,NaN,NaN,NaN,1.57,4.88,5.200,1.0,0.50,3.50,4.5,1.0,1.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,8
7,3.0,Sheffield United,Manchester City,3-5-2,79,277.00,277.00,277.00,741.026316,710.157895,4-2-3-1,77,235.00,235.00,235.00,783.700000,705.613333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,0
8,NaN,Newcastle United,Liverpool,4-3-3,79,277.00,277.00,277.00,744.345865,705.586466,4-3-3,77,235.00,235.00,235.00,808.284768,725.139073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1

In [ ]:
# Iterate over each row in sim_data
for index, row in df1.iterrows():
    # Extract the formation and ratings for home team
    home_formation = row['formation']
    home_defense = row['defence rating']
    home_midfield = row['midfield rating']
    home_attack = row['attack rating']
    total_home_rating = home_defense + home_midfield + home_attack

    # Calculate the distributed ratings for home team
    home_ratings = distribute_ratings(home_formation, int(total_home_rating))
    home_defense_rating = home_ratings[0]
    home_midfield_rating = sum(home_ratings[1:-1])
    home_attack_rating = home_ratings[-1]

    # Extract the formation and ratings for away team
    away_formation = row['away formation']
    away_defense = row['away defence rating']
    away_midfield = row['away midfield rating']
    away_attack = row['away attack rating']
    total_away_rating = away_defense + away_midfield + away_attack

    # Calculate the distributed ratings for away team
    away_ratings = distribute_ratings(away_formation, total_away_rating)
    away_defense_rating = away_ratings[0]
    away_midfield_rating = sum(away_ratings[1:-1])
    away_attack_rating = away_ratings[-1]

    # Update the sim_data DataFrame with the redistributed ratings
    df1.at[index, 'defence rating'] = int(home_defense_rating)
    df1.at[index, 'midfield rating'] = int(home_midfield_rating)
    df1.at[index, 'attack rating'] = int(home_attack_rating)
    df1.at[index, 'away defence rating'] = int(away_defense_rating)
    df1.at[index, 'away midfield rating'] = int(away_midfield_rating)
    df1.at[index, 'away attack rating'] = int(away_attack_rating)

### for testing data (sim)

In [ ]:
# Iterate over each row in sim_data
for index, row in df_sim_from_bettingTracking.iterrows():
    # Extract the formation and ratings for home team
    home_formation = row['formation']
    home_defense = row['defence rating']
    home_midfield = row['midfield rating']
    home_attack = row['attack rating']
    total_home_rating = home_defense + home_midfield + home_attack

    # Calculate the distributed ratings for home team
    home_ratings = distribute_ratings(home_formation, int(total_home_rating))
    home_defense_rating = home_ratings[0]
    home_midfield_rating = sum(home_ratings[1:-1])
    home_attack_rating = home_ratings[-1]

    # Extract the formation and ratings for away team
    away_formation = row['away formation']
    away_defense = row['away defence rating']
    away_midfield = row['away midfield rating']
    away_attack = row['away attack rating']
    total_away_rating = away_defense + away_midfield + away_attack

    # Calculate the distributed ratings for away team
    print(away_formation, total_away_rating)
    away_ratings = distribute_ratings(away_formation, total_away_rating)

    away_defense_rating = away_ratings[0]
    away_midfield_rating = sum(away_ratings[1:-1])
    away_attack_rating = away_ratings[-1]

    # Update the sim_data DataFrame with the redistributed ratings
    df_sim_from_bettingTracking.at[index, 'defence rating'] = int(home_defense_rating)
    df_sim_from_bettingTracking.at[index, 'midfield rating'] = int(home_midfield_rating)
    df_sim_from_bettingTracking.at[index, 'attack rating'] = int(home_attack_rating)
    df_sim_from_bettingTracking.at[index, 'away defence rating'] = int(away_defense_rating)
    df_sim_from_bettingTracking.at[index, 'away midfield rating'] = int(away_midfield_rating)
    df_sim_from_bettingTracking.at[index, 'away attack rating'] = int(away_attack_rating)

3-4-2-1 783.0
4-2-3-1 831.0
3-5-2 745.98
4-2-3-1 802.98
4-3-3 705.0
3-4-2-1 705.0
4-1-4-1 705.0
4-2-3-1 705.0
4-3-3 705.0

# encoding formation column using target encoding

In [ ]:
print("hello")

hello

In [ ]:
df_sim_from_bettingTracking

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,4-2-3-1,80,318.0,397.0,79.0,756.493421,727.381579,3-4-2-1,79,234.0,469.0,78.0,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,320.0,401.0,80.0,796.065359,739.307190,4-2-3-1,82,332.0,415.0,83.0,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,3-4-2-1,79,234.0,469.0,78.0,785.006623,719.980132,3-5-2,75,223.0,372.0,149.0,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,302.0,378.0,75.0,735.000000,732.000000,4-2-3-1,80,321.0,401.0,80.0,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,4-3-3,82,328.0,246.0,246.0,763.562914,703.920530,4-3-3,80,282.0,211.0,211.0,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25
5,3.0,Manchester United,Nottm Forest,4-2-3-1,79,332.0,415.0,83.0,790.915033,736.725490,3-4-2-1,77,211.0,423.0,70.0,740.000000,745.000000,NaN,NaN,NaN,1.38,5.12,8.830,1.0,0.44,3.60,6.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,31
6,3.0,Brighton & Hove Albion,West Ham United,4-2-3-1,79,332.0,415.0,83.0,730.574468,709.095745,4-1-4-1,77,282.0,352.0,70.0,756.493421,727.381579,NaN,NaN,NaN,1.57,4.88,5.200,1.0,0.50,3.50,4.5,1.0,1.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,8
7,3.0,Sheffield United,Manchester City,3-5-2,79,249.0,415.0,166.0,741.026316,710.157895,4-2-3-1,77,282.0,352.0,70.0,783.700000,705.613333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,0
8,NaN,Newcastle United,Liverpool,4-3-3,79,332.0,249.0,249.0,744.345865,705.586466,4-3-3,77,282.0,211.0,211.0,808.284768,725.139073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1

In [ ]:
# autos["make_encoded"] = autos.groupby("make")["price"].transform("mean")

df1['formation'] = df1.groupby("formation")["home_goals"].transform("mean").astype(float)
df1['away formation'] = df1.groupby("away formation")["away_goals"].transform("mean").astype(float)

In [ ]:
df1["home_goals"].describe()

count    2937.000000
mean        1.506980
std         1.299249
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         9.000000
Name: home_goals, dtype: float64

In [ ]:
df1

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,season,home_team_encoded,away_team_encoded
0,Manchester United,Swansea City,1.684211,83,229,382,153,730,647,1.277712,75,317,397,79,791,747,1,2,2014,5,19
1,Leicester City,Everton,1.253807,74,278,278,139,715,704,1.277712,82,271,339,67,696,694,2,2,2014,6,7
2,Queens Park Rangers,Hull City,1.124031,75,222,370,148,675,767,1.346154,74,226,452,75,698,737,0,1,2014,28,22
3,Stoke City,Aston Villa,1.622722,82,299,374,74,751,719,1.277712,78,292,365,73,717,762,0,1,2014,17,14
4,West Bromwich Albion,Sunderland,1.246988,78,288,360,72,724,720,1.102703,74,299,374,74,756,727,2,2,2014,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,Watford,Leicester City,1.786260,78,283,212,212,674,691,1.102703,74,293,366,73,669,665,1,5,2021,12,6
2933,West Ham United,Manchester City,1.622722,82,317,397,79,763,710,1.388211,89,308,231,231,741,690,2,2,2021,8,0
2934,Wolverhampton Wanderers,Norwich City,1.782609,70,236,472,78,748,673,1.346154,72,222,444,74,713,601,1,1,2021,18,20
2935,Everton,Brentford,1.583333,83,231,309,231,732,738,1.388211,74,312,234,234,736,711,2,3,2021,7,27
2936,Newcastle United,Arsenal,1.786260,81,302,226,226,744,717,1.277712,74,296,371,74,704,734,2,0,2021,10,2

In [ ]:
df_sim_from_bettingTracking

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,4-2-3-1,80,318.0,397.0,79.0,756.493421,727.381579,3-4-2-1,79,234.0,469.0,78.0,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,4-2-3-1,80,320.0,401.0,80.0,796.065359,739.307190,4-2-3-1,82,332.0,415.0,83.0,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,3-4-2-1,79,234.0,469.0,78.0,785.006623,719.980132,3-5-2,75,223.0,372.0,149.0,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,4-2-3-1,80,302.0,378.0,75.0,735.000000,732.000000,4-2-3-1,80,321.0,401.0,80.0,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,4-3-3,82,328.0,246.0,246.0,763.562914,703.920530,4-3-3,80,282.0,211.0,211.0,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25
5,3.0,Manchester United,Nottm Forest,4-2-3-1,79,332.0,415.0,83.0,790.915033,736.725490,3-4-2-1,77,211.0,423.0,70.0,740.000000,745.000000,NaN,NaN,NaN,1.38,5.12,8.830,1.0,0.44,3.60,6.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,31
6,3.0,Brighton & Hove Albion,West Ham United,4-2-3-1,79,332.0,415.0,83.0,730.574468,709.095745,4-1-4-1,77,282.0,352.0,70.0,756.493421,727.381579,NaN,NaN,NaN,1.57,4.88,5.200,1.0,0.50,3.50,4.5,1.0,1.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,8
7,3.0,Sheffield United,Manchester City,3-5-2,79,249.0,415.0,166.0,741.026316,710.157895,4-2-3-1,77,282.0,352.0,70.0,783.700000,705.613333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,0
8,NaN,Newcastle United,Liverpool,4-3-3,79,332.0,249.0,249.0,744.345865,705.586466,4-3-3,77,282.0,211.0,211.0,808.284768,725.139073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1

In [ ]:
df_sim_from_bettingTracking['formation'] = df1.groupby("formation")["home_goals"].transform("mean").astype(float)
df_sim_from_bettingTracking['away formation'] = df1.groupby("formation")["away_goals"].transform("mean").astype(float)

In [ ]:
df_sim_from_bettingTracking

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,1.684211,80,318.0,397.0,79.0,756.493421,727.381579,1.192982,79,234.0,469.0,78.0,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,1.253807,80,320.0,401.0,80.0,796.065359,739.307190,1.256345,82,332.0,415.0,83.0,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,1.124031,79,234.0,469.0,78.0,785.006623,719.980132,1.348837,75,223.0,372.0,149.0,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,1.622722,80,302.0,378.0,75.0,735.000000,732.000000,1.123258,80,321.0,401.0,80.0,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,1.246988,82,328.0,246.0,246.0,763.562914,703.920530,1.415663,80,282.0,211.0,211.0,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25
5,3.0,Manchester United,Nottm Forest,1.622722,79,332.0,415.0,83.0,790.915033,736.725490,1.123258,77,211.0,423.0,70.0,740.000000,745.000000,NaN,NaN,NaN,1.38,5.12,8.830,1.0,0.44,3.60,6.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,31
6,3.0,Brighton & Hove Albion,West Ham United,1.419540,79,332.0,415.0,83.0,730.574468,709.095745,1.258621,77,282.0,352.0,70.0,756.493421,727.381579,NaN,NaN,NaN,1.57,4.88,5.200,1.0,0.50,3.50,4.5,1.0,1.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,8
7,3.0,Sheffield United,Manchester City,1.622722,79,249.0,415.0,166.0,741.026316,710.157895,1.123258,77,282.0,352.0,70.0,783.700000,705.613333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,0
8,NaN,Newcastle United,Liverpool,1.419540,79,332.0,249.0,249.0,744.345865,705.586466,1.258621,77,282.0,211.0,211.0,808.284768,725.139073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1

In [ ]:
df1.drop('season', axis=1, inplace=True)

In [ ]:
df1.head()

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,home_team_encoded,away_team_encoded
0,Manchester United,Swansea City,1.684211,83,229,382,153,730,647,1.277712,75,317,397,79,791,747,1,2,5,19
1,Leicester City,Everton,1.253807,74,278,278,139,715,704,1.277712,82,271,339,67,696,694,2,2,6,7
2,Queens Park Rangers,Hull City,1.124031,75,222,370,148,675,767,1.346154,74,226,452,75,698,737,0,1,28,22
3,Stoke City,Aston Villa,1.622722,82,299,374,74,751,719,1.277712,78,292,365,73,717,762,0,1,17,14
4,West Bromwich Albion,Sunderland,1.246988,78,288,360,72,724,720,1.102703,74,299,374,74,756,727,2,2,15,21

## getting data ready for trainging

In [ ]:
df1.head()

,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home_goals,away_goals,home_team_encoded,away_team_encoded
0,Manchester United,Swansea City,1.684211,83,229,382,153,730,647,1.277712,75,317,397,79,791,747,1,2,5,19
1,Leicester City,Everton,1.253807,74,278,278,139,715,704,1.277712,82,271,339,67,696,694,2,2,6,7
2,Queens Park Rangers,Hull City,1.124031,75,222,370,148,675,767,1.346154,74,226,452,75,698,737,0,1,28,22
3,Stoke City,Aston Villa,1.622722,82,299,374,74,751,719,1.277712,78,292,365,73,717,762,0,1,17,14
4,West Bromwich Albion,Sunderland,1.246988,78,288,360,72,724,720,1.102703,74,299,374,74,756,727,2,2,15,21

In [ ]:
y_home_goals = df1['home_goals'].to_numpy()

y_away_goals = df1['away_goals'].to_numpy()

x_tree_based = df1.drop(['home_goals', 'away_goals', 'home_team', 'away_team'], axis=1).to_numpy()
x_tree_based

array([[  1.68421053,  83.        , 229.        , ..., 747.        ,
          5.        ,  19.        ],
       [  1.25380711,  74.        , 278.        , ..., 694.        ,
          6.        ,   7.        ],
       [  1.12403101,  75.        , 222.        , ..., 737.        ,
         28.        ,  22.        ],
       ...,
       [  1.7826087 ,  70.        , 236.        , ..., 601.        ,
         18.        ,  20.        ],
       [  1.58333333,  83.        , 231.        , ..., 711.        ,
          7.        ,  27.        ],
       [  1.78625954,  81.        , 302.        , ..., 734.        ,
         10.        ,   2.        ]])

## model training

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

weak_learner_final = DecisionTreeClassifier(max_depth=3)

adaBoost_clf_home_goals_final = AdaBoostClassifier(n_estimators=250, learning_rate = 0.08, random_state=0,base_estimator=weak_learner_final)
adaBoost_clf_away_goals_final = AdaBoostClassifier(n_estimators=250, learning_rate = 0.08, random_state=0,base_estimator=weak_learner_final)

adaBoost_clf_home_goals_final.fit(x_tree_based,y_home_goals)
adaBoost_clf_away_goals_final.fit(x_tree_based,y_away_goals)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3),
                   learning_rate=0.08, n_estimators=250, random_state=0)

In [ ]:
# !pip sklearn --version

# Matchday Prediction

In [ ]:
df_sim_from_bettingTracking.head()

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,1.684211,80,318.0,397.0,79.0,756.493421,727.381579,1.192982,79,234.0,469.0,78.0,785.006623,719.980132,NaN,NaN,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,1.253807,80,320.0,401.0,80.0,796.065359,739.307190,1.256345,82,332.0,415.0,83.0,790.915033,736.725490,NaN,NaN,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,1.124031,79,234.0,469.0,78.0,785.006623,719.980132,1.348837,75,223.0,372.0,149.0,725.000000,725.000000,NaN,NaN,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,1.622722,80,302.0,378.0,75.0,735.000000,732.000000,1.123258,80,321.0,401.0,80.0,796.065359,739.307190,NaN,NaN,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,1.246988,82,328.0,246.0,246.0,763.562914,703.920530,1.415663,80,282.0,211.0,211.0,728.552632,725.421053,NaN,NaN,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25

In [ ]:

# # Create a dictionary to store team information
# teams = {}

# # Create an empty list to store the fixtures results
# fixtures_results = {}

# Iterate over each match
for index, row in df_sim_from_bettingTracking.iterrows():
    home_team = row['home_team']
    away_team = row['away_team']

    # # Check if the home team exists in the dictionary
    # if home_team not in teams:
    #     teams[home_team] = {'points': 0, 'goals_scored': 0, 'goals_against': 0, 'games_played': 0}

    # # Check if the away team exists in the dictionary
    # if away_team not in teams:
    #     teams[away_team] = {'points': 0, 'goals_scored': 0, 'goals_against': 0, 'games_played': 0}

    # Prepare input matrix for home team prediction
    home_input = np.array([
        row['formation'], row['gk rating'], row['defence rating'], row['midfield rating'],
        row['attack rating'], row['net stamina'], row['net physicallity'],
        row['away formation'], row['away gk rating'], row['away defence rating'],
        row['away midfield rating'], row['away attack rating'], row['away net stamina'],
        row['away net physicallity'],
        row['home_team_encoded'], row['away_team_encoded']
    ]).reshape(1, -1)

    # Prepare input matrix for away team prediction
    away_input = np.array([
        row['formation'], row['gk rating'], row['defence rating'], row['midfield rating'],
        row['attack rating'], row['net stamina'], row['net physicallity'],
        row['away formation'], row['away gk rating'], row['away defence rating'],
        row['away midfield rating'], row['away attack rating'], row['away net stamina'],
        row['away net physicallity'],
        row['home_team_encoded'], row['away_team_encoded']
    ]).reshape(1, -1)

    # Predict goals for home team using goal_predictor_home model
    home_goals = adaBoost_clf_home_goals_final.predict(home_input)

    # Predict goals for away team using goal_predictor_away model
    away_goals = adaBoost_clf_away_goals_final.predict(away_input)

    # Update predicted_home_goals and predicted_away_goals columns
    df_sim_from_bettingTracking.at[index, 'predicted_home_goals'] = home_goals
    df_sim_from_bettingTracking.at[index, 'predicted_away_goals'] = away_goals



df_sim_from_bettingTracking

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded
0,2.0,West Ham United,Chelsea,1.684211,80,318.0,397.0,79.0,756.493421,727.381579,1.192982,79,234.0,469.0,78.0,785.006623,719.980132,2.0,1.0,0.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1,2.0,Tottenham Hotspur,Manchester United,1.253807,80,320.0,401.0,80.0,796.065359,739.307190,1.256345,82,332.0,415.0,83.0,790.915033,736.725490,2.0,0.0,NaN,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5
2,3.0,Chelsea,Luton Town,1.124031,79,234.0,469.0,78.0,785.006623,719.980132,1.348837,75,223.0,372.0,149.0,725.000000,725.000000,3.0,1.0,NaN,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,31
3,3.0,Bournemouth,Tottenham Hotspur,1.622722,80,302.0,378.0,75.0,735.000000,732.000000,1.123258,80,321.0,401.0,80.0,796.065359,739.307190,1.0,1.0,NaN,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,3
4,3.0,Arsenal,Fulham,1.246988,82,328.0,246.0,246.0,763.562914,703.920530,1.415663,80,282.0,211.0,211.0,728.552632,725.421053,2.0,0.0,NaN,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25
5,3.0,Manchester United,Nottm Forest,1.622722,79,332.0,415.0,83.0,790.915033,736.725490,1.123258,77,211.0,423.0,70.0,740.000000,745.000000,3.0,1.0,NaN,1.38,5.12,8.830,1.0,0.44,3.60,6.0,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,31
6,3.0,Brighton & Hove Albion,West Ham United,1.419540,79,332.0,415.0,83.0,730.574468,709.095745,1.258621,77,282.0,352.0,70.0,756.493421,727.381579,2.0,4.0,NaN,1.57,4.88,5.200,1.0,0.50,3.50,4.5,1.0,1.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,8
7,3.0,Sheffield United,Manchester City,1.622722,79,249.0,415.0,166.0,741.026316,710.157895,1.123258,77,282.0,352.0,70.0,783.700000,705.613333,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,0
8,NaN,Newcastle United,Liverpool,1.419540,79,332.0,249.0,249.0,744.345865,705.586466,1.258621,77,282.0,211.0,211.0,808.284768,725.139073,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1

In [ ]:
awd

NameError: ignored

## payoff tracking

In [ ]:
# Initialize money left for each combo
combo1_money_left = 3000
combo2_money_left = 3000
combo3_money_left = 3000
combo4_money_left = 3000
combo5_money_left = 3000 #pounds

# Loop through each row
for index, row in df_sim_from_bettingTracking.iterrows():

    # Calculate the maximum odds and corresponding prediction for 1x
    min_odds_1x = min(row['HT_win_odds_1x'], row['draw_odds_1x'], row['AT_win_odds_1x'])
    HT_win_odds_1x = row['HT_win_odds_1x']
    draw_odds_1x = row['draw_odds_1x']
    AT_win_odds_1x = row['AT_win_odds_1x']

    if min_odds_1x == row['HT_win_odds_1x']:
        bookies_prediction_1x = 1
    elif min_odds_1x == row['draw_odds_1x']:
        bookies_prediction_1x = 0
    else:
        bookies_prediction_1x = 2

    # Calculate the maximum odds and corresponding prediction for skybet types
    min_odds_skyBet = min(row['HT_win_odds_skyBet'], row['draw_odds_skyBet'], row['AT_win_odds_skyBet'])
    HT_win_odds_skyBet = row['HT_win_odds_skyBet']
    draw_odds_skyBet = row['draw_odds_skyBet']
    AT_win_odds_skyBet = row['AT_win_odds_skyBet']

    if min_odds_skyBet == row['HT_win_odds_skyBet']:
        bookies_prediction_skyBet = 1
    elif min_odds_skyBet == row['draw_odds_skyBet']:
        bookies_prediction_skyBet = 0
    else:
        bookies_prediction_skyBet = 2

    # Update bookies_prediction column
    df_sim_from_bettingTracking.at[index, 'bookies_prediction_1x'] = bookies_prediction_1x
    df_sim_from_bettingTracking.at[index, 'bookies_prediction_skyBet'] = bookies_prediction_skyBet

    # Update model_prediction column based on predicted goals
    if row['predicted_home_goals'] > row['predicted_away_goals']:
        model_prediction = 1
    elif row['predicted_home_goals'] == row['predicted_away_goals']:
        model_prediction = 0
    else:
        model_prediction = 2
    df_sim_from_bettingTracking.at[index, 'model_prediction'] = model_prediction

    # Update actual_result column based on actual goals
    if row['actual_home_goals'] > row['actual_away_goals']:
        actual_result = 1
    elif row['actual_home_goals'] == row['actual_away_goals']:
        actual_result = 0
    else:
        actual_result = 2
    df_sim_from_bettingTracking.at[index, 'actual_result'] = actual_result

    # Place bets and update combo columns and money left
    combos = ['combo1', 'combo2','combo3', 'combo4']  # combo 3 and 4 are for sky bet
    bet_amount = 100

    for combo in combos:
        if combo.endswith('_money_left'):
            continue  # Skip money_left columns

        combo_money_left = f"{combo}_money_left"
        payoff = 0

        if combo == 'combo1':
            bet_amount = 100
            if model_prediction == actual_result:
                if model_prediction == 1:
                  payoff = bet_amount * HT_win_odds_1x
                elif model_prediction == 0:
                  payoff = bet_amount * draw_odds_1x
                elif model_prediction == 2:
                  payoff = bet_amount * AT_win_odds_1x

                df_sim_from_bettingTracking.at[index, 'combo1'] = payoff

                combo1_money_left = combo1_money_left - bet_amount + payoff
                df_sim_from_bettingTracking.at[index, combo1_money_left] = combo1_money_left

            else:
                df_sim_from_bettingTracking.at[index, 'combo1'] = -bet_amount

                combo1_money_left = combo1_money_left - bet_amount
                df_sim_from_bettingTracking.at[index, combo1_money_left] = combo1_money_left


        if combo == 'combo2':
            if model_prediction != bookies_prediction_1x:
                bet_amount = 350
                if model_prediction == actual_result:
                    if model_prediction == 1:
                      payoff = bet_amount * HT_win_odds_1x
                    elif model_prediction == 0:
                      payoff = bet_amount * draw_odds_1x
                    elif model_prediction == 2:
                      payoff = bet_amount * AT_win_odds_1x

                    df_sim_from_bettingTracking.at[index, 'combo2'] = payoff

                    combo2_money_left	 = combo2_money_left  - bet_amount + payoff
                    df_sim_from_bettingTracking.at[index, combo2_money_left] = combo2_money_left
                else:
                    df_sim_from_bettingTracking.at[index, 'combo2'] = -bet_amount
                    combo2_money_left	 = combo2_money_left	 - bet_amount
                    df_sim_from_bettingTracking.at[index, combo2_money_left] = combo2_money_left
            else:
                combo2_money_left	 = combo2_money_left
                df_sim_from_bettingTracking.at[index, 'combo2'] = 0
                df_sim_from_bettingTracking.at[index, combo2_money_left	] = combo2_money_left

        if combo == 'combo3':
            bet_amount = 100
            if model_prediction == actual_result:
                if model_prediction == 1:
                  payoff = bet_amount * HT_win_odds_skyBet
                elif model_prediction == 0:
                  payoff = bet_amount * draw_odds_skyBet
                elif model_prediction == 2:
                  payoff = bet_amount * AT_win_odds_skyBet

                df_sim_from_bettingTracking.at[index, 'combo3'] = payoff

                combo3_money_left = combo3_money_left - bet_amount + payoff
                df_sim_from_bettingTracking.at[index, combo3_money_left] = combo3_money_left

            else:
                df_sim_from_bettingTracking.at[index, 'combo3'] = -bet_amount

                combo3_money_left = combo3_money_left - bet_amount
                df_sim_from_bettingTracking.at[index, combo3_money_left] = combo3_money_left

        if combo == 'combo4':
            if model_prediction != bookies_prediction_skyBet:
                bet_amount = 350
                if model_prediction == actual_result:
                    if model_prediction == 1:
                      payoff = bet_amount * HT_win_odds_skyBet
                    elif model_prediction == 0:
                      payoff = bet_amount * draw_odds_skyBet
                    elif model_prediction == 2:
                      payoff = bet_amount * AT_win_odds_skyBet

                    df_sim_from_bettingTracking.at[index, 'combo4'] = payoff

                    combo4_money_left	 = combo4_money_left  - bet_amount + payoff
                    df_sim_from_bettingTracking.at[index, combo4_money_left] = combo4_money_left
                else:
                    df_sim_from_bettingTracking.at[index, 'combo4'] = -bet_amount
                    combo4_money_left	 = combo4_money_left	 - bet_amount
                    df_sim_from_bettingTracking.at[index, combo4_money_left] = combo4_money_left
            else:
                combo4_money_left	 = combo4_money_left
                df_sim_from_bettingTracking.at[index, 'combo4'] = 0
                df_sim_from_bettingTracking.at[index, combo4_money_left	] = combo4_money_left

        # elif combo == 'combo3':
        #     if model_prediction != bookies_prediction:
        #         if model_prediction == actual_result:
        #             payoff = bet_amount * min(row['draw_odds'], row['AT_win_odds'])
        #             combo3_money_left - bet_amount + payoff
        #         else:
        #           combo3_money_left - bet_amount

        # elif combo == 'combo4':
        #     if model_prediction != bookies_prediction:
        #         if model_prediction == actual_result:
        #             payoff = bet_amount * min(row['draw_odds'], row['AT_win_odds'])
        #             combo4_money_left - bet_amount + payoff
        #         else:
        #           combo4_money_left - bet_amount


        # Update combo and combo_money_left columns
        # Update combo1_money_left and combo2_money_left after the inner loop
        df_sim_from_bettingTracking.at[index, 'combo1_money_left'] = combo1_money_left
        df_sim_from_bettingTracking.at[index, 'combo2_money_left'] = combo2_money_left
        df_sim_from_bettingTracking.at[index, 'combo3_money_left'] = combo3_money_left
        df_sim_from_bettingTracking.at[index, 'combo4_money_left'] = combo4_money_left
        # money_left = locals()[combo + '_money_left']
        # money_left -= bet_amount
        # if payoff > 0:
        #     money_left += payoff
        #     df_sim_from_bettingTracking.at[index, combo_money_left] = money_left
        #     break  # Break the loop to add payoff only to one combo's money left column
        # else:
        #     df_sim_from_bettingTracking.at[index, combo_money_left] = money_left
df_sim_from_bettingTracking

,matchday,home_team,away_team,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,predicted_home_goals,predicted_away_goals,model_prediction,HT_win_odds_1x,draw_odds_1x,AT_win_odds_1x,bookies_prediction_1x,HT_win_odds_skyBet,draw_odds_skyBet,AT_win_odds_skyBet,bookies_prediction_skyBet,actual_home_goals,actual_away_goals,actual_result,combo1,combo1_money_left,combo2,combo2_money_left,combo3,combo3_money_left,combo4,combo4_money_left,combo5,combo5_money_left,home_team_encoded,away_team_encoded,3260.0,3910.0,3530.0,4855.0,3558.0,3458.0,4505.0,3358.0,3396.0,3816.0,5975.0,3716.0,5625.0,3616.0,5275.0,3140.0,3490.0,3225.0,3787.5,3145.0,3045.0,3437.5,2945.0,2889.0,3239.0,4662.5,3139.0,4312.5,3039.0,3962.5
0,2.0,West Ham United,Chelsea,1.684211,80,318.0,397.0,79.0,756.493421,727.381579,1.192982,79,234.0,469.0,78.0,785.006623,719.980132,2.0,1.0,1.0,3.60,3.72,2.064,2.0,2.40,2.50,1.0,2.0,3.0,1.0,1.0,360.0,3260.0,1260.0,3910.0,240.0,3140.0,840.0,3490.0,NaN,NaN,8,4,3260.0,3910.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3140.0,3490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tottenham Hotspur,Manchester United,1.253807,80,320.0,401.0,80.0,796.065359,739.307190,1.256345,82,332.0,415.0,83.0,790.915033,736.725490,2.0,0.0,1.0,3.70,2.46,2.690,0.0,1.85,2.60,1.3,2.0,2.0,0.0,1.0,370.0,3530.0,1295.0,4855.0,185.0,3225.0,647.5,3787.5,NaN,NaN,3,5,NaN,NaN,3530.0,4855.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3225.0,3787.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Chelsea,Luton Town,1.124031,79,234.0,469.0,78.0,785.006623,719.980132,1.348837,75,223.0,372.0,149.0,725.000000,725.000000,3.0,1.0,1.0,1.28,6.27,10.700,1.0,0.20,5.50,12.0,1.0,3.0,0.0,1.0,128.0,3558.0,0.0,4855.0,20.0,3145.0,0.0,3787.5,NaN,NaN,4,31,NaN,NaN,NaN,4855.0,3558.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3787.5,3145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Bournemouth,Tottenham Hotspur,1.622722,80,302.0,378.0,75.0,735.000000,732.000000,1.123258,80,321.0,401.0,80.0,796.065359,739.307190,1.0,1.0,0.0,2.70,2.75,0.900,2.0,2.70,2.75,0.9,2.0,0.0,2.0,2.0,-100.0,3458.0,-350.0,4505.0,-100.0,3045.0,-350.0,3437.5,NaN,NaN,31,3,NaN,NaN,NaN,NaN,NaN,3458.0,4505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3045.0,3437.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,Arsenal,Fulham,1.246988,82,328.0,246.0,246.0,763.562914,703.920530,1.415663,80,282.0,211.0,211.0,728.552632,725.421053,2.0,0.0,1.0,1.30,5.82,11.000,1.0,0.57,3.20,4.5,1.0,2.0,2.0,0.0,-100.0,3358.0,0.0,4505.0,-100.0,2945.0,0.0,3437.5,NaN,NaN,2,25,NaN,NaN,NaN,NaN,NaN,NaN,4505.0,3358.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3437.5,2945.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3.0,Manchester United,Nottm Forest,1.622722,79,332.0,415.0,83.0,790.915033,736.725490,1.123258,77,211.0,423.0,70.0,740.000000,745.000000,3.0,1.0,1.0,1.38,5.12,8.830,1.0,0.44,3.60,6.0,1.0,3.0,1.0,1.0,138.0,3396.0,0.0,4505.0,44.0,2889.0,0.0,3437.5,NaN,NaN,5,31,NaN,NaN,NaN,NaN,NaN,NaN,4505.0,NaN,3396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3437.5,NaN,2889.0,NaN,NaN,NaN,NaN,NaN,NaN
6,3.0,Brighton & Hove Albion,West Ham United,1.419540,79,332.0,415.0,83.0,730.574468,709.095745,1.258621,77,282.0,352.0,70.0,756.493421,727.381579,2.0,4.0,2.0,1.57,4.88,5.200,1.0,0.50,3.50,4.5,1.0,1.0,3.0,2.0,520.0,3816.0,1820.0,5975.0,450.0,3239.0,1575.0,4662.5,NaN,NaN,16,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3816.0,5975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3239.0,4662.5,NaN,NaN,NaN,NaN
7,3.0,Sheffield United,Manchester City,1.622722,79,249.0,415.0,166.0,741.026316,710.157895,1.123258,77,282.0,352.0,70.0,783.700000,705.613333,2.0,1.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,-100.0,3716.0,-350.0,5625.0,-100.0,3139.0,-350.0,4312.5,NaN,NaN,31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3716.0,5625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3139.0,4312.5,NaN,NaN
8,NaN,Newcastle United,Liverpool,1.419540,79,332.0,249.0,249.0,744.345865,705.586466,1.258621,77,282.0,211.0,211.0,808.284768,725.139073,2.0,0.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,-100.0,3616.0,-350.0,5275.0,-100.0,3039.0,-350.0,3962.5,NaN,NaN,10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3616.0,5275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3039.0,3962.5

# spacing

In [ ]:
# Function to apply custom styling
def highlight_columns(val):
    if val == 0:
        return 'background-color: yellow'
    elif val == 1:
        return 'background-color: green'
    elif val == 2:
        return 'background-color: red'
    else:
        return ''

# Apply styling to the specific columns
styled_df = df_sim_from_bettingTracking.style.applymap(highlight_columns, subset=['bookies_prediction_1x', 'bookies_prediction_skyBet', 'actual_result', 'model_prediction'])

# Display the styled DataFrame
styled_df

# Function to format float values as integers
def format_as_integer(value):
    return f'{int(value):d}' if not pd.isnull(value) else ''

# Apply the formatting function to the entire DataFrame
pd.options.display.float_format = format_as_integer

# Display the DataFrame
styled_df